.checkout-footer {
  width: 100%;
  background: #f8f9fa;
  border-top: 1px solid #eee;
}

.footer-subtotal,
.footer-total {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  color: #121212;
}

.footer-divider {
  height: 1px;
  background-color: #dadada;
}

.footer-subtotal p:nth-child(2) {
  font-weight: 500;
  text-align: right;
}

.footer-total {
  font-size: 24px;
}

.footer-total p:nth-child(1) {
  /* SF Pro is not open-source  */
  font-family: 'Switzer', sans-serif;
  font-weight: 300;
}

.footer-total p:nth-child(2) {
  /* SF Pro is not open-source  */
  font-family: 'Switzer', sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .footer-divider {
    margin: 0 16px;
  }
}
