.search-container {
  height: 44px;
  width: 100%;

  display: flex;
  align-items: center;

  border: 1px solid #8a94a4;
  border-radius: 8px;
  background-color: #fff;
}

.search-container-icon {
  padding: 7px 12px;
  display: flex;
  align-self: center;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  color: #2c2c2c;
  background-color: #fff;
  padding: 11px 12px 11px 0px;
  border-radius: 8px;
}

.search-input::placeholder {
  color: #2c2c2c;
}

@media screen and (max-width: 768px) {
  .search-container {
    height: 40px;
  }

  .search-container-icon {
    padding: 10px 10.942px;
  }

  .search-container-icon svg {
    width: 20px;
    height: 20px;
  }

  .search-input::placeholder {
    color: #8a94a4;
  }
}
