/* Card Styles */
.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-content {
  display: flex;
  flex: 1 0 0;
  padding: 16px;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.card-content:hover,
.card-content:focus {
  background-color: #eaeaeab3;
  cursor: pointer;
}

.info-left {
  flex: 1;
  margin-right: 16px;
}

.info-left h3 {
  display: flex;
  gap: 8px;
}

.item-counter-checkout {
  border-radius: 4px;
  background: unset;
  min-width: 18px;
  width: fit-content;
  height: 18px;
  padding: 0.5px 4px;

  display: flex;
  justify-content: space-around;

  font-size: 14px;
  font-weight: 500;
  color: white;
}

.info-left h3,
.info-left .description,
.info-left .price {
  font-size: 16px;
}

.info-left h3 {
  font-weight: 500;
  color: #121212;
}

.info-left .description,
.info-left .price {
  color: #464646;
}

.info-left .description {
  margin: 4px 0;
  font-weight: 300;
}

.info-left .price {
  font-weight: 500;
}

.info-right img {
  width: 128px;
  height: 85px;
  border-radius: 4px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .card {
    padding: 0;
  }
}
