.menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
}

.menu-search-container {
  margin-top: 12px;
  margin-bottom: 6px;
}

.content-container {
  /* border: 1px solid black; */
  background-color: #f8f9fa;
  width: 100%;
  max-width: 1024px;
  margin-bottom: 6px;
}
