.menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
}

.menu-search-container {
  margin-top: 12px;
  margin-bottom: 6px;
}

.content-container {
  padding: 32px 40px;
  background-color: #f8f9fa;
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.allergen-link {
  display: none;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #f8f9fa;
}

.allergen-link a {
  width: 100%;
  border-radius: 8px;
  background: white;
  color: #4f372f;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
}

@media screen and (max-width: 1024px) {
  .menu-search-container {
    padding: 0 40px;
  }
  .menu-container {
    padding: 0 16px;
    background-color: #fff;
  }

  .content-container {
    background-color: inherit;
  }
}

@media screen and (max-width: 768px) {
  .menu-search-container {
    padding: 0 16px;
  }

  .menu-container,
  .content-container {
    padding: 0;
  }

  .content-container {
    flex-direction: column;
    margin-bottom: 0px; /* The basket btn will have absolute position */
  }

  .allergen-link {
    display: flex;
  }
}
